<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>handlebarsapp.IndexServlet</servlet-class>

        <servlet-name>Process</servlet-name>
        <servlet-class>handlebarsapp.ProcessServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/</url-pattern>

        <servlet-name>Process</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
</web-app>
